*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
html{
  background: #F1E5D1;
}
.links{
  background: #DBB5B5;
  padding: 10px;
  text-align: right;
}
.links a{
  color: #987070;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}
.links a:hover {
  color: #764C4C;
}

.intro
{
  max-width: 800px;
  margin: 130px auto 0 auto;
  padding: 0 20px;
  color: #987070;
   text-align: center;
}
.VJ
{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.intro p {
  margin-top: 50px;
  font-size: 15px;
  line-height: 1.6;
   margin-bottom: 20px;
}

.me {
  width: 150px;
  height: 155px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.box{
  text-align: center;
  margin-top: 100px;
  text-decoration: none;
}





